* {
    /* padding: 0; */
    /* margin: 0; */
    transition: all 0.3s;
    font-family: Poppins;
}

.active {
    cursor: pointer;
}

.disabled {
    background-color: #0f1c47;
    cursor: not-allowed;
    opacity: 0.7;
    border: 1px solid #0f1c47;
    pointer-events: none;
    color: grey;
}

.dp-card {
    width: fit-content;
    border: 2px solid grey;
    border-radius: 50%;
}

.dp {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.account-card {
    
}

.account-card ul{
    display: flex;
        flex-flow: column;
        gap: 20px;
}

.account-card button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #162556;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.account-modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 2px 2px 5px #162556, -2px -2px 5px #162556;
    background: white;
    /* padding: 30px; */
    border-radius: 10px;
}





/* OVERLAYS */

#overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 40;
}

.hamburgerOverlay-2 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: rgba(0, 0, 0, 0.8); */

}

/* ERRORS */

.loginErrorModal {
    position: fixed;
    top: 20px;
    /* top: 50%; */
    left: 50%;
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 10px;
}

.notReadyErrModal {
    position: fixed;
    left: 20px;
    /* top: 50%; */
    bottom: 10px;
    background-color: white;
    color: red;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #162556, -2px -2px 5px #162556;
}